{% extends 'base.html.twig' %}

{% block title %}Edit Wod{% endblock %}

{% block body %}
    <h1>Edit Wod</h1>

    {{ include('wod/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('wod_index') }}">back to list</a>

    {{ include('wod/_delete_form.html.twig') }}
{% endblock %}
